<h1>Agregar heroe <small>{{heroe.superhero}}</small> </h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100">
                <mat-label>Super Heroes</mat-label>
                <input type="text" matInput required autocomplete="off" [(ngModel)]="heroe.superhero">
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input type="text" matInput required autocomplete="off" [(ngModel)]="heroe.alter_ego">
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primera aparicion</mat-label>
            <input type="text" matInput required autocomplete="off" [(ngModel)]="heroe.first_appearance">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input type="text" matInput required autocomplete="off" [(ngModel)]="heroe.characters">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher" required>
                <mat-option *ngFor="let publicacion of publicaciones" [value]="publicacion.id">
                    {{publicacion.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto</mat-label>
            <input type="url" matInput required autocomplete="off" [(ngModel)]="heroe.alt_img">
        </mat-form-field>
        <br>

        <div fxLayout>
            <button mat-raised-button color="warn" (click)="guardar()">
                <mat-icon>save</mat-icon>Guardar
            </button>

            <span class="spacer"></span>

            <button *ngIf="heroe.id" mat-raised-button (click)="borrarHeroe()" color="primary">
                <mat-icon>delete</mat-icon>Eliminar 
            </button>
        </div>

    </div>

    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>

</div>