@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* css encargado del efecto de rotacion de las imagenes */
/* body {
    background: #ddd;
    background: linear-gradient(#ddd, #e8e8e8);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin:0;
}
 */
.thumb {
    width: 500px;
    height: 300px;
    margin: 50px;
    /* El auto lo pensare  */
    perspective: 1000px;
}

.thumb a {
    display: block;
    width: 500px;
    height: 300px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb:hover a {
    transform: rotateY(20deg);
    transform-origin: bottom;
}

/* No se bien como funciona, despues lo arreglare
    esto se encarga de la rotacion de una de las sombras */
/* .thumb a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateY(90deg);
    transform-origin: bottom;
} */
/* .thumb a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 500px 300px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.10;
    transform: rotateY(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
} 
*/

.thumb:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateY(0) translateZ(-60px) scale(0.85);
}


/* El css del tamaño de las imagenes dentro de la descripcion de los heroes  */
.img {
    height: 150%;
    width: 100%;
    object-fit: contain;
}

.cat {
    height: 400px;
    width: 400px;
}


/* css encargado de el efecto en el texto  */
.card {
    position: absolute;
    top: 47%;
    left: 61%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: #292727;
    overflow: hidden;
}

.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}

.card .imgBx {
    top: 10%;
    left: 0;
}

.card:hover .imgBx {
    top: 0;
    left: -100%;
}

.card .imgBx img {
    width: 100%;
}

.card .details {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}

.card:hover .details {
    top: 0;
    left: 0%;
}

.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}

.card .details p {
    margin: 20px 0 0;
    color: #fff;
}